HELLo

<pre>
    {{ visualizer.dataCollector.timeLookup | json }}
</pre>

<app-marble-diagram [visualizer]="visualizer.dataCollector.timeLookup"></app-marble-diagram>

<br>

<app-marble-diagram [visualizer]="visualizer2.dataCollector.timeLookup"></app-marble-diagram>


<br>

<app-marble-diagram [visualizer]="visualizer3.dataCollector.timeLookup"></app-marble-diagram>

<br>

<app-marble-diagram [visualizer]="visualizer4.dataCollector.timeLookup"></app-marble-diagram>

<br>
BEFORE FILTER

<app-marble-diagram [visualizer]="beforeFilterDataCollector.timeLookup"></app-marble-diagram>

<br>
After FILTER

<app-marble-diagram [visualizer]="afterFilterDataCollector.timeLookup"></app-marble-diagram>